
/*  List header: ----------------------------------------------------------------------------  */

.list-header {
    /* border: solid; */
    height: 120px;
    margin-top: -25px;
    background-color: #f7f7f9;
    border-bottom: solid #DDDDDD 1px;
}

.row .image {
    width: 100px;
    height: 100px;
    margin-left: 142px;
    margin-top: 10px;
}

.row h3 {
    margin-top: 30px;
}

.note {
    position: relative;
    top: -60px;
    left: 232px;
    font-size: 13px;
    width: 600px;
}

/* ---------------------------------------------------------------------------------------- */

.col-3 {
    margin-top: -24px;
}

.menu {
    margin-left: 120px;
}

.scroll {
    padding-top: 5px;
    height: 400px;
    width: 900px;
    overflow: scroll;
}

.scrollMenu {
    width: 900px;
    margin-left: 20px;
}

.search {
    margin-left: 190px;
}

.fa.fa-check {
    color: green;
}

.box_and_name {
    position: relative;
    float: left;
    width: 210px;
    margin-right: 10px;
    overflow: hidden;
}

.quantity {
    float: left;
    width: 50px;
}

.quantityButtons {
    float: left;
    width: 80px;
}

.nodeOfItem {
    float: left;
    left: 360px;
    color: #4D4D4D;
    font-size: 13px;
    width: 220px;
    height: 24px;
    overflow: hidden;
}

.buyer {
    float: left;
    padding-left: 50px;
    color: #9F9F9F;
    font-size: 13px;
    margin-top: -7px;
}

.buyer.none {
   margin-left: -15px; 
}

.list-group-item:hover {
    background-color: #F2F3F2;
}

.list-group-item.reserved {
    background-color: #FFF5BE;
    border: solid 1px #FFF1A3;
}

.list-group-item.reserved:hover {
    background-color: #FFF5CA;
}

.list-group-item.purchased {
    background-color: #D7FFD7;
    border: solid 1px #AFFFAF;
}

.list-group-item.purchased:hover {
    background-color: #EAFFEA;
}



