<div class="container">
  <h2>{{ (item | async)?.value }}</h2>
  <br>

  <div class="row">
    <br>
    <div class="col-3">
      <app-listmenu></app-listmenu>
    </div>
    <div class="col-8">
      <h4>Items:</h4>
      <div class="scrollMenu">

        <div class="row">
          <div class="col-3"></div>
          <div class="col-4">
            <span class="text">delete selected items&nbsp;</span>
            <button type="button" (click)="deleteItems()" class="btn btn-sm btn-primary">Delete</button>
          </div>
          <div class="row">
            <div class="col-8">
              <span class="search">
              <input type="text" class="form-control" [(ngModel)]="searchItemName" name="searchItem" #searchItem="ngModel" id="formGroupExampleInput"
                placeholder="Search item">
              </span>
            </div>
            <div class="col">
              <button type="button" (click)="searchItems(searchItem.value)" class="btn btn-sm btn-primary">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let i of food | async">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="i.value" #cv [checked]=false                                       
              (change)="onChange(i?.$key,cv.checked)">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{i?.value}}</span>
            </label>
          </li>
        </ul>
      </div>
      <br>
      <form>
        <h6>Add new item</h6>
        <div class="row">
          <div class="col-4">
            <input type="text" class="form-control" [(ngModel)]="newItemName" name="newItem" #newItem="ngModel">
          </div>
          <button type="button" (click)="addItem(newItem.value)" class="btn btn-md btn-primary">Add</button>
        </div>
      </form>
      <br>
    </div>
  </div>

</div>