<div class="container">
  <div class="login">
    <h1>Sigin up</h1>
    <br>
    <form>
      <!-- <div class="form-group" [class.has-success]="!email.invalid" [class.has-danger]="email.invalid || !email.dirty || email.touched">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="emailName" [class.form-control-success]="!email.invalid" [class.form-control-danger]="email.invalid || !email.dirty || email.touched"
          placeholder="Email" name="email" #email="ngModel" maxlength="20" minlength="3" email>
      </div> -->
      <div class="form-group" [class.has-success]="!email.invalid" [class.has-danger]="email.invalid">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="emailName" [class.form-control-success]="!email.invalid" [class.form-control-danger]="email.invalid"
          placeholder="Enter your email" name="email" #email="ngModel">
        <!-- <div *ngIf="email.invalid || !email.dirty || email.touched" class="form-control-feedback">Sorry, wrong list name length. Try another?</div>
            <small *ngIf="email.invalid || !email.dirty || email.touched" class="form-text text-muted">The name must have 3-20 characters.</small> -->
      </div>
      valid: {{email.valid}} <br>
      invalid: {{email.invalid}} <br>
      dirty: {{email.dirty}} <br>
      touched: {{email.touched}} <br>
      <div class="form-group" [class.has-success]="password.valid" [class.has-danger]="!password.valid">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="passwordName" [class.form-control-success]="password.valid" [class.form-control-danger]="!password.valid"
            placeholder="Password" name="password" #password="ngModel" maxlength="20" minlength="5">
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-block btn-primary">Sign in</button>
        </div>
      </div>
    </form>
    <div class="byGoogle">
      <p>or</p>
      <a class="btn btn-block btn-social btn-google" (click)="authentication()">
        <span class="fa fa-google"></span> Sign in with Google
      </a>
    </div>
  </div>
</div>