
.search {
    position: relative;
    top: -98px;
    left: 500px;
    width: 450px;
}
 
.search input {
    width: 300px; 
    /* border: solid; */
} 


.card { 
    /* position: relative; */
    margin: 10px 0px 0px 10px;
    width: 13rem;
    height: 19rem;
    /* border: solid; */
}

.card-header {
    background-color: #f7f7f9;
    height: 120px;
    position: relative;
    border-bottom: solid #DDDDDD 1px;
}

.card-title {
    font-weight: bold;
    margin-top: -13px;
}

.card-img-top {
    margin-left: 27px;
    margin-top: -8px;
    width: 110px;
    height: 110px;
}

.card-text {
    position: relative;
    top: -10px;
    height: 65px;
    font-size: 14px;
}

.card-block .btn.btn-primary {
    height: 30px;
    width: 100px;
    margin-left: 33px;
    font-size: 13px;
    text-align: center;
    vertical-align: center;
}

.card-block .btn.btn-primary p {
    text-align: center;
    vertical-align: center;
    position: relative;
    bottom: 3px;
    right: 3px;
}

.card-footer {
    margin-top: -17px;
    height: 30px;
    border: solid #DDDDDD 1px;
}

.text-muted {
    font-size: 10.5px;
    position: relative;
    top: -10px;
}

.searchResult {
    position: relative;
    width: 700px;
}
