<div class="my-btn">
  <button type="button" class="btn btn-info btn-circle btn-xl" (click)="open(addMemberModal)">+</button>
</div>

<ng-template #addMemberModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add member</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
    <app-search-user></app-search-user>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
  </div>

</ng-template>