h1 {
    text-align: center;
   }
   

h4 {
    text-align: center;
}
   

.col-4 {
    margin-top: 10px;
}


.col-3 {
    margin-top: 70px;
}

.arrow {
    position: relative;
    right: 205px;
}

.offset {
    /* height: 300px; */
}