<div class="container">
  <h3>My Friends</h3>

  <br>
  <app-search-friend></app-search-friend>
  <br>

  <div class="column">
    <div class="card" style="width: 20rem;">

      <div *ngFor="let friend of friends | async">
        <ul class="list-group">
          <li class="list-group-item">
            {{friend.friend1}}
             <!-- <div "findFriend(friend.friend1)">{{ ahoj }} </div>  -->
            <button class="btn-link" (click)="deleteFriend(friend.$key)"><i class="fa fa-times" aria-hidden="true"></i></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>