<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../assets/images/slider/slider2.jpg" alt="Mejte doma vse, co potrebujete">
    <div class="carousel-caption">
      <h3>Uz zadne problemy s nakupnim seznamem! Vse budete mit na jednom miste a vzdy u sebe</h3>
      <p>Doma vam tak nebude chybet nic, na co si vzpomenete.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/slider/slider6.jpg"  alt="Mejte svuj nakup pod kontrolou">
    <div class="carousel-caption">
      <h3>Nakupujte jen to, co je za potrebi a za rozumnou cenu.</h3>
      <p>Ke kazdemu zbozi si muzete pripsat pribliznou cenu. Diky tomu nekoupite drazsi nez by jste chteli.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/slider/slider5.jpg" alt="Zadne preplnene nakupni cetra">
    <div class="carousel-caption">
      <h3>Diky nam nemusi chodit do precpanych nakupaku a hledat vyprodane zbozi.</h3>
      <p>Zbozi si jen vyberete a objednate.</p>
    </div>
  </ng-template>
</ngb-carousel>
