<li class="nav-item">
  <a class="nav-link" href="javascript:void(0)" (click)="showBookItems()">
    <i class="fa fa-pencil" aria-hidden="true"></i>  Book items
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" href="javascript:void(0)" (click)="showBuyItems()">
    <i class="fa fa-times" aria-hidden="true"></i> Buy items
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" href="javascript:void(0)" (click)="showAllItems()">
    <i class="fa fa-sign-out" aria-hidden="true"></i> All items
  </a>
</li>







