<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add list</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputName" class="col-sm-10 col-form-label">List name:</label>

              <div class="form-group" [class.has-success]="!newName.invalid" [class.has-danger]="newName.invalid">
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="listName" [class.form-control-success]="!newName.invalid" [class.form-control-danger]="newName.invalid"  
                  placeholder="Enter list name (3-20 characters)" name="newName" #newName="ngModel" maxlength="20" minlength="3" required>
                </div>
              </div>
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="newName.invalid" class="btn btn-primary" (click)="addList(newName.value)">Create</button>
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
    </form>
  </ng-template>
  
  <div class="my-btn">
    <button type="button" class="btn btn-info btn-circle btn-xl" (click)="open(content)">+</button>
  </div>