
.search {
    position: relative;
    top: -98px;
    left: 500px;
    width: 450px;
}
 
.search input {
    width: 300px; 
    /* border: solid; */
} 

/*-------------------------------------------------------------------------------------*/

.list-group-item {
    width: 300px;
    height: 40px;
}

.user img {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.user {
    position: relative;
    float: left;
    right: 10px;
    width: 227px;
}

/* .list-group-item button {
    float: left;
    position: relative;
    left: 10px;
} */

/* .list-group-item button:hover {
    color: gold;
} */

.list-group-item {
    position: relative;
    left: 84px;

}


.searchResult {
    position: relative;
    /* top: 150px; */
    /* left: 460px; */
    width: 700px;
}

/*  card in members   */

.card {
    margin: 10px 0px 0px 10px;
    border-bottom-width: 2px;
    width: 253px;
    height: 50px;
    /* border: solid; */
}

.user {
    float: left;
    width: 215px;
    font-size: 14px;
    /* border: solid; */
    margin-top: -5px;
    margin-left: -14px;
}

.list-group-item img { 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* margin-left: -15px; */
    /* margin-top: -4px; */
    width: 30px;
    /* border: solid; */
}

.icon {
    position: relative;
    /* float: left; */
    width: 20px;
    /* border: solid; */
    left: 208px;
    top: -29px;
}


.btn-link {
    position: relative;  
    right: 6px;
}
