.navbar.navbar-inverse.bg-primary {
    height: 60px;
}


.right-menu {
    width: 400px;
    color: #ECECEC;
    font-size: 14px;
}

.user-email {
    position: relative;
    right: -13px;
    top: 9px;
    border-right: solid #ECECEC 1px;
    width: 187px;
}

.user-img {
    position: relative;
    top: 8px;
    left: 60px;
    
}

.user-img img {
    border-radius: 50%;
}

.navbar-nav.ml-auto .nav-item.active .nav-link {
    /* border: solid; */
    /* width: 90px; */
}