<div class="container">
  <h2>{{ (group | async)?.name }}</h2>
  <br>

  <div class="row">
    <br>
    <div class="col-3">
      <app-groupmenu></app-groupmenu>
    </div>
    <div class="col-8">
      <h4>Friends in group:</h4>
      <div class="scroll">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let friend of friends | async">
            <!-- {{friend | json}} -->
            console.log(friend.uid);
            <p>{{findFriend(friend.uid)}} </p>
            <p> {{(this.actFriend | async)?.email}}</p>
          </li>
        </ul>
      </div>
      <br>
      <br>
    </div>
  </div>

  <app-search-friend name="group"></app-search-friend>
</div>