
.form-control {
    width: 275px;
}

.list-group-item img {
    border-radius: 50%;
    margin-left: -13px;
    height: 20px;
    width: 20px;
}

.list-group-item {
    
    margin-left: -14px;
    height: 35px;
}

.list-group-item {
    width: 275px;
}

.btn-link {
    position: relative;
    left: 20px;
    float: left;
}

.user {
    float: left;
    width: 200px;
}
